<mat-card>
  <mat-card-title>Product list</mat-card-title>
  <mat-card-content>
    <mat-list role="list" *ngIf="products | async as list; else loading">
      <ng-container *ngIf="list.length; else emptyState">
        <mat-list-item role="listitem" *ngFor="let item of products | async">
          {{item.title}}
        </mat-list-item>
      </ng-container>
      <ng-template #emptyState>
        No data for this page.
      </ng-template>
    </mat-list>
    <ng-template #loading>
      <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>
